* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b5a789;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}
/* End global rules for styling */

/* Start rules for html header */
header {
  border-top: 0.5rem solid #efe5d0;
  background-color: #675c47;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header-logo {
  margin: 10px 0 5px 15px;
}

/* Start rules for navigation bar */
ul {
  list-style-type: none;
  margin-left: 10px;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  color: #efe5d0;
  display: block;
  font-size: medium;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
}

.active,
li a:hover {
  background-color: #b5a789;
}
/* End rules for navigation bar */
